    <!-- Footer -->
    <footer>
		<div class="row">

			<div class="csu-wordmark">
				<img src="img/word-cloud-sm.jpg" alt="csu" />
			</div>
			<div class="csu-text">
				<p>The Unified Library Management System is a collaboration between the <a href="http://libraries.calstate.edu">CSU libraries</a> and the <a href="http://www.calstate.edu">Chancellor's Office</a>.  This site is developed and maintained by <a href="http://www.calstate.edu/library">Systemwide Digital Libray Services</a>.</p>
				
			</div>

		</div>

    </footer>
