    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
					<div class="image-logo">
						<img src="img/ulms.png" alt="Pixave">
					</div>
                    <div class="col-md-8 col-md-offset-2">
						<div class="intro-section">
							<h1 class="intro">ScholarWorks Digital Repository Systems<h1>
							<h3 class="intro">The CSU libraries working smarter together.</h3>
							<div class="wiki">
								<%= image_tag "confluence.png" %>&nbsp;&nbsp;<a href="https://calstate.atlassian.net/wiki/display/SCHOL/">Visit the Project Wiki</a>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<%= render template: 'layouts/sufia' %>
