<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'layouts/csu_head_tag_content' %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <a href="#skip_to_content" class="sr-only">Skip to Content</a>
  <%= render partial: '/masthead' %>
</body>
</html>

